body {
  background-image: url(../images/Autumn.webp);
  background-size: cover;
  color: whitesmoke;
  text-shadow: 0 0 4px black;
  margin: 2em;
  text-align: justify;
}
a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-shadow: -1px -1px 2px wheat;
}
.nav {
  text-align: right;
  padding: 10 15px;
  a {
    margin-left: 5px;
  }
}
#email {
  font-weight: 800;
}
.a {
  font-weight: 800;
  border: 2px solid whitesmoke;
  padding: 5px 10px;
}
p {
  margin: 2em 0;
}
