body {
  background: linear-gradient(#bde0fe, #cdb4db);
  color: white;
  text-shadow: 0 0 2px black;
  text-align: center;
}
#body-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 2px;
}
.nav {
  text-align: right;
  padding: 10 15px;
  a {
    text-decoration: none;
    margin-left: 5px;
    color: white;
  }
}
.work-div {
  background-size: cover;
  width: 200px;
  height: 200px;
  margin-top: 1em;
  border: 6px solid white;
  border-radius: 10px;
  font-size: 1.2em;
}
.work-div:hover {
  cursor: pointer;
  border-color: black;
}
#div-food-blog {
  background-image: url("../descriptions/images/food-blog.png");
}
#div-blackjack {
  background-image: url("images/Screenshot-blackjack.png");
}
#div-tic {
  background-image: url("images/Screenshot-tictactoe.png");
  color: black;
  text-shadow: 0 0 2cap white;
}
#div-random {
  background-image: url("images/Screenshot-random.png");
}
#div-town {
  background-image: url("images/Screenshot-town.png");
}
#div-gif {
  background-image: url("images/Screenshot-gif.png");
  color: black;
  text-shadow: 0 0 2cap white;
}
#div-character {
  background-image: url("images/Screenshot-character.png");
  color: black;
  text-shadow: 0 0 2cap white;
}
#div-space {
  background-image: url("images/Screenshot-space.png");
}
#div-tracker {
  background-image: url("images/Screenshot-tracker.png");
  color: black;
  text-shadow: 0 0 2cap white;
}
